.opacity-0 {
  opacity: 0;
}
.opacity-25 {
  opacity: 0.25;
}
.opacity-50 {
  opacity: 0.5;
}
.opacity-75 {
  opacity: 0.75;
}
.opacity-100 {
  opacity: 1;
}

.fontsize-30 {
  font-size: 30px;
}

.btn-outline-success:hover {
  color: white;
  background-color: red;
  border-color: red;
}
.btn-outline-success:hover:before {
  content: attr(data-hover) " |";
}

body {
  background-image: url(/BBOX.svg);
  background-size: 20%;
  background-color: black;
}

.disable-click {
  cursor: not-allowed;
}
